<div class="container">
    <div class="card mb-5 h-100" style="width: 100%;">
      <div class="row g-0">
        <div class="col-sm-4 position-relative">
          <a href="/" target="_blank"><img src="https://wallpapercave.com/wp/wp10624351.jpg" class="card-img fit-cover w-100 h-100" alt="...">
          </a>
        </div>
  
        <div class="col-sm-8">
          <div class="card-body">
            <h5 class="card-title">
              <a class="link-dark text-decoration-none" href="/" target="_blank">ghj</a>
            </h5>
  
            <p class="card-text">asdasd</p>
            <br>
            <span class="badge rounded-pill bg-dark"></span>

          </div>

          <div class="card-footer bg-white text-end text-muted">
            Published at  dsadads    
          </div>
        </div>
      </div>
    </div>
  </div>